@font-face {
  font-family: 'poppins';
  src: url('../assets/font/Poppins-Medium.ttf') format('ttf');
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
	font-family: 'poppins';
	color: #ffff;
	height: 50px;
	border-bottom: #ffff 1px solid;
	padding: 0 4% 0 4%;
	.logo {
		font-size: 1.5rem;
	}
	.search {
		display: flex;
		align-items: center;
  	justify-content: space-between;
		width: 40%;
		.icon {
			font-size: 1.5rem;
		}
	}
}