.search_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
  border-radius: 100px;
  color: #fff;
  border: 1px solid #ffff;
}

.input {
  margin: 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: #1E0338;
  color: #fff;
}

.input::placeholder {
  color: #ccc;
}
